*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto';
	font-size: 0.9em;
}
.header{
	background-color: #202931;
	height: 90px;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}
nav{
	position: relative;
}
.nav ul{
	padding: 0;
	margin: auto;
	width: 1140px;
	height: 90px;
}
